#header{
	background-color: #eeeeee;
	height: 50px;
	width: 100%;
	left: 0px;
	top: 0px;
}

#list{
	width: 150px;
	height: 100%;
	background-color: #66ccff;
	float: left;
}
#list ul{list-style: none;}
#list ul li{
	line-height: 30px;
	margin: 10px auto;
}

#content{
	background-color: white;
	height: 100%;
	margin-left: 150px;
}
#content iframe{
	display: block;
	border: 0px;
	height: 100%;
	width: 100%;
}
a{
		text-decoration: none;
		/*color: #FF0000;*/
}
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}