.info{
	margin:0 10px;
}
#UI{
	position: fixed;
	top:0;
	bottom:0;
	width: 70px;
	text-align: center;
	box-shadow: 0 0 3px #000;
	background: rgba(0,0,0,.5); 
	right: -70px;
}
#UI li{
	margin-top: 20px;
}
#UI li:hover{
	background: rgba(0,0,0,.8); ;
}
#UI img{
	width: 50px;
	height: 50px;
}
#UI p{
	color: white;
}
.comment{
	border: 6px solid #cccccc;
	padding: 8px 16px;
	margin-top: 6px;
}
#top{
	position: absolute;
	width: 900px;
	height:150px;

	opacity: 0;
	top: -100px;

	right: 0;
	left: 0;
	margin:auto;
	background-color: #aaa;
	border-radius: 10px;
	box-shadow: 0 0 2px #eee;
	padding:0 30px 0 30px;
}

#content{
	position: absolute;
	width: 900px;
	height: 100%;

	top: 600px;
	opacity: 0;

	left: 0;
	right: 0;
	margin:auto;
	border-radius: 10px;
	box-shadow: 0 0 2px #fff;
	padding:30px 30px 0 30px;
	background-color: #f9f9f9;
}
#content p{
	margin-right: 10px;
}
#comment a{
	float: right;
}
.submit{
	color: #fff;
	background-color: #09bcbf;
	padding: 3px 6px;
	border: 1px solid #09c0c3;
	border-radius:3px;
	box-shadow: 0px 0px 5px #ddd;
	text-shadow: 0px 0px 1px #999;
	font-size: 15px;
}

body{
	background-image: url("img/背景.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}
a{
		text-decoration: none;
		/*color: #FF0000;*/
}
p,h4{
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
}
ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
textarea{
	height: 100px;
}
input[type="text"],textarea{
  box-sizing: border-box;
  text-align:left;
  font-size:18px;
  width: 100px;
  border-radius:4px;
  border:1px solid #c8cccf;
  color:#6a6f77;
  display:block;
  outline:0;
  padding:5px 1em;
  text-decoration:none;
  width:63%;
}