
#content{
	height: 350px;
	text-align: center;
}
#content>div{
	display: inline;
}
#content #guanggao{
	display: block;
	margin-left:530px;
	height: 300px;
	width: 800px;
	background-color: #eee;
}
.insideBox{
	height: 490px;
	padding:20px;
	border: solid 1px #dedede;
	background-color: #fdfdfd;
	box-shadow: 0px 0px 6px #dddddd inset;
}
.box{
	padding:5px;
	border: solid 1px #dedede;
	background-color: #eeeeee;
	box-shadow: 0px 0px 6px #dddddd;
}
.inner{
	width:500px;
	height:300px;
	position:relative;
	overflow:hidden;
}
.inner img{
	width:500px;
	height:300px;
	vertical-align:top
}

.inner li{
	float:left;
}
#box{
	float: left;
}
#box ul{
	width:1000%;
	position:absolute;
	list-style:none;
	left:0;
	top:0;
}
#arr{
	width:500px;
	height:300px;
	display:none;
}
#arr span{
	width:40px;
	height:40px;
	position:absolute;
	left:5px;
	top:50%;
	margin-top:-20px;
	background:#fff;
	cursor:pointer;
	line-height:40px;
	text-align:center;
	font-weight:bold;
	font-family:'黑体';
	font-size:30px;
	color:#000;
	opacity:0.5;
	border:1px solid#fff;
}
#arr #right{
	right:5px;
	left:auto;
}

#shuitie{
	height:500px;
	width: 300px;
	float: left;
	margin:10px 50px 0px 0px; 
}
#meitu{
	height:500px;
	width: 300px;
	float: left;
	margin:10px 50px 0px 0px; 
}
#zixun{
	height:500px;
	width: 300px;
	float: left;
	margin:10px 50px 0px 0px; 
}
#fanju{
	height:500px;
	width: 300px;
	float: left;
	margin:10px 50px 0px 0px; 
}

ul{
	list-style: none;
}
ol{
	position:absolute;
	height:20px;
	right:20px;
	bottom:20px;
	text-align:center;
	padding:5px;
}
ol li{
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	background-color:#fff;
	margin:5px;
	cursor:pointer;

}
ol .current{
	background-color:red;
}
html,body,p,a,ul{
	margin:0;
	padding:0
}